<h2> Consulta Sim</h2>

<ul>
  <li><%= link_to "Cadastro de consulta", consulta_path %></li>
  <li><%= link_to "Cadastro de paciente", pacientes_path %></li>
  <li><%= link_to "Cadastro de médico", medicos_path %></li>
</ul>
